@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rajdhani:wght@300&family=Trirong:wght@100;200&display=swap');
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 60px;
  text-align: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(147,105,156,1) 100%);
  color: white;
  padding: 20px;
}


.container {

margin-top: 30px;

}

#currentCity {
  font-weight: bolder;
}

.col-12, .row {
  font-size: 18px;
}

#forecastHeader {
  font-weight: bold;
}

.forecastArea {
  font-size: 40px;
}
#searchButton {
  background-color: rgb(238,174,202);
  border-color: white;
}

.col-2 {
  background-color: rgb(238,174,202);
  color: white;
}

#search-input {
  width: 66%;
  float: left;
}