* {
    background: rgb(241, 241, 239);
    color: rgb(7, 1, 1);
    font-family: ;
}

#header{
    border: 3px solid rgb(245, 241, 239) ;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(147,105,156,1) 100%);
    padding: 10px;
    margin: 3px;
    color: white;

}

#cityInput, #inputContainer, button {
    margin: 3px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#weatherContainer {
    border-radius: 10px;
    border: 2px solid rgba(97, 95, 95, 0.829);
    width: 1200px;
    margin-right: -50px;
    position: absolute;
    top: 70%;
    left: 50%;
    height: 350px;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
}

#iconsContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;
    border-radius: 10px;
}

.icons {
    display: inline-block;
    border-radius: 10px;
    margin: 20px;
    width: 190px;
    height: 150px;
    float: none;
    border: 1px solid;

}